# For replit use ther env vars
{
  "APP_PORT": "8000",
  "APP_HOST": "0.0.0.0",
  "ALLOW_ORIGINS":"http://localhost:9000,http://localhost:3000,https://api.dev.spritz.cafe,https://api.dev.spritz.cafe",
  "OPENAI_API_KEY": "<Replace with your original key>"
}

# For local use these env vars
APP_PORT=8000
APP_HOST="localhost"
ALLOW_ORIGINS="http://localhost:9000,http://localhost:3000"
OPENAI_API_KEY="<Replace with your original key>"
